{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings for category "<strong>{{ category }}</strong>"</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
            <tr>
                <td><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></td>
                <td>{{ listing.brand }}</td>
                <td>{{ listing.category }}</td>
                <td><img src="{{ listing.url }}" alt="{{ listing.url }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}