{% extends "auctions/layout.html" %}

{% block body %}

<h2> {{listing.brand}} - {{listing.title}} {% if not open %} [Closed - bid won by '{{listing.won_bid}}'] {% endif %}</h2>


<ul class="nav">
    {% if user.is_authenticated %}
        {% if open and watched %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_watchlist' listing_id=listing.id %}">Remove from watchlist</a>
            </li>
        {% elif open %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_watchlist' listing_id=listing.id %}">Add to watchlist</a>
            </li>
        {% endif %}
        {% if author and open %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'close' listing_id=listing.id %}">Close this bid</a>
            </li>
        {% endif %}
        {% if not author and open %}
            <li class="nav-item">
                <a class="nav-link" href="#bid">Place a bid</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#comment">Comment</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
</ul>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>{{ listing.title }}</td>
        </tr>
        <tr>
            <th scope="row">Brand</th>
            <td>{{ listing.brand }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ listing.description }}</td>
        </tr>
        <tr>
            <th scope="row">Picture</th>
            <td><img src="{{ listing.url }}" alt="{{ listing.url }}"></td>
        </tr>
        <tr>
            <th scope="row">Category</th>
            <td><a href="{% url 'category' listing.category %}">{{ listing.category }}</a></td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>$ {{ listing.start_bid }}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{ listing.status }}</td>
        </tr>
        <tr>
            <th scope="row">Seller</th>
            <td>{{ listing.username }}</td>
        </tr>
    </tbody>
</table>

<h2 id="bid"> Auction</h2>
{% if not user.is_authenticated %}
<h3><i><a href="{% url 'login' %}">Log in</a> to see information and make a bid </i></h3>
{% elif open %}
    Highest bidder is <strong>{{highest_bidder}}</strong>.
    {% if not author%}
        <h3 id="bid"> Place a bid </h3>
        <form action="{% url 'place_bid' listing_id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input class="form-control" type="text" name="bid_placed" placeholder="Write bid here...">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-primary">Submit bid</button>
            </div>
        </form>
    {% endif %}
{% else %}
    Auction closed. Bid won by <strong>{{listing.won_bid}}</strong>.
{% endif %}


<h2>Comments</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Comment</th>

        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <th scope="row">{{comment.author}}</th>
            <td>{{comment.date}}</td>
            <td>{{comment.text}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<h3 id="comment">Leave a comment as "{{request.user}}"</h3>
<form action="{% url 'listing' listing_id=listing.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" id="comment" name="comment" type="text" placeholder="Type your comment here..." rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" value="Save">Submit Comment</button>
</form>
{% else %}
<h3><i><a href="{% url 'login' %}">Log in</a> to leave a comment</i></h3>
{% endif %}


{% endblock %}