{% extends "auctions/layout.html" %}

{% block body %}

    <!-- Watchlist Menu
    <h1> My watchlist : </h1>
    <div class="container-sm ml-2">
        <ul class="list-group list-group-flush">
            {% for group in listings %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="">{{group.0}}</a>
            </li>
            {% endfor%}
        </ul>
    </div> -->


    {% for group in listings %}
        <h3> {{ group.0 }} </h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Description</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Category</th>
                    <th scope="col">Initial Price</th>
                    <th scope="col">Price Sold</th>
                </tr>
            </thead>
            <tbody>
                {% for listing in group.1 %}
                <tr>
                    <td><a href="{% url 'listing' listing.0.id %}">{{ listing.0.title }}</a></td>
                    <td>{{ listing.0.brand }}</td>
                    <td>{{ listing.0.description }}</td>
                    <td><img src="{{ listing.0.url }}" alt="{{ listing.0.url }}"></td>
                    <td><a href="{% url 'category' category=listing.0.category %}">{{ listing.0.get_category_display }}</a></td>
                    <td>{{ listing.0.start_bid }}</td>
                    <td>{{ listing.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
